# Ignore node modules
node_modules/
npm-debug.log*

# Ignore logs
logs/*

# Ignore dependency management files
package-lock.json
yarn.lock

# Ignore API keys or sensitive information (if any)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore editor and IDE specific files
.idea/
.vscode/
*.swp

# Ignore MacOS specific files
.DS_Store